body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

header {
    background-color: #fff;
}

h2,
h3 {
    color: #2e2f42;
}

p {
    color: #434455;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo {
    color: #4d5ae5;
}

.menu-section-list {
    list-style-type: none;
    text-decoration: none;
}

.menu-section .sub-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-section .sub-section {
    text-decoration: none;
    color: #2e2f42;
}

.menu-section .sub-section:hover,
.menu-section .sub-section:focus {
    color: #404bbf;
}

.contact-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    cursor: pointer;
}

.info {
    text-decoration: none;
    color: #434455;
}

.info-list {
    list-style-type: none;
}

.info:hover,
.info:focus {
    color: #404bbf;
}

.section-first {
    background-color: #2e2f42;
}

.main-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}

.order-button {
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

.section-second-list {
    list-style: none;
}

.section-second-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-third {
    background-color: #f4f4fd;
}

.person-profile {
    background-color: #fff;
    cursor: pointer;
    list-style: none;
}

.person-profile-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.person-profile-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-third .section-third-header,
.section-fourth .section-fourth-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-fourth-list {
    list-style: none;
}

.portfolio-subtitle {
    border: 1px solid #e7e9fc;
    border-top: unset;
    text-align: left;
    cursor: pointer;
}

.portfolio-subtitle h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-subtitle p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo {
    color: #4d5ae5;
}