body {
    margin: auto;
    padding: 0;
    width: 1440px;
    height: auto;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    position: relative;
    left: auto;
    top: auto;
    box-sizing:inherit;
    order: inherit;
    display: block;
    align-items: center;
    flex-direction: column;
    gap: 0; 
    border-radius: 3px;
    box-shadow: 0px 0px 0px 0px;
    flex-grow: inherit;
    border-bottom:#fff;
}

header {
    background-color: #fff;
    display: block;
    text-align: center;
    height: 72px;
}

h2, h3 {
    color: #2e2f42;
}

p {
    color: #434455;
}

.menu-right,
.menu-left {
    display: inline-block;
    margin: 8px 120px;
}

.nav-header-logo {
    display: inline-block;
}

.header-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    margin-right: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-logo,
.header-logo .logo-second {
    color: #2e2f42;
}

.logo-first {
    color: #4d5ae5;
}

.menu-nav-bar {
    display: inline-block;
}

.menu-section-list {
    display: block;
    list-style-type: none;
    text-decoration: none;
}

.menu-section-list li {
    display: inline-block;
}

.menu-section {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 40px;
}

.menu-section a {
    text-decoration: none;
    color: #2e2f42;
}

.menu-section a:hover {
    color: #404bbf;
}

.contact-info {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    cursor: pointer;
}

.email-info,
.phone-info {
    display: inline-block;
    margin-right: 36px;
}

.email-info:hover,
.phone-info:hover,
.email-info:active,
.phone-info:active {
    color: #404bbf;
}

.section-first {
    height: 600px;
    text-align: center;
    background-color: #2e2f42;
}

.section-first div {
    width: 496px;
    height: 224px;
    padding: 188px 472px;
}

.main-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: unset;
    color: #fff;
    width: 496px;
    transform: translate(446px, 175px);
}

.order-button {
    background-color: #4d5ae5;
    color: #fff;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    margin-top: 48px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transform: translate(-12px, 175px);
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

.section-second {
    height: 300px;
    margin-top: 40px;
}

.section-second-list {
    display: block;
    list-style: none;
    width: 1150px;
    height: 104px;
    margin: 160px 126px;
}

.section-second-header {
    bottom: 75px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-second-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.feature {
    display: inline-block;
    width: 264px;
}

.feature-blank {
    margin-right: 20px;
}

.section-third {
    background-color: #f4f4fd;
    height: 732px;
    text-align: center;
}

.person-profile {
    display: inline-block;
    background-color: #fff;
    width: 264px;
    height: 380px;
    border-radius: 0 0 4px 4px;
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.person-profile-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.person-profile-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-third .section-third-header,
.section-fourth .section-fourth-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-third .section-third-header {
    padding-top: 120px;
    padding-bottom: 54px;
}

.section-fourth .section-fourth-header {
    margin-bottom: 72px;
}

.section-fourth {
    text-align: center;
    height: 1000px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-fourth-list {
    display: block;
    list-style: none;
    margin-bottom: 48px;
}

.portfolio-subtitle {
    display: inline-block;
    border: 1px solid #e7e9fc;
    border-top: unset;
    text-align: left;
    padding: 14px 16px;
    cursor: pointer;
}

.portfolio-subtitle:active {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-subtitle p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
    height: 52px;
    margin-top: 82px;
    position: absolute;
    width: 1160px;
    padding: 130px 140px;
}

.footer-logo {
    text-decoration: none;
    margin-left: -4px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translate(-3px, 1px);
    width: 264px;
}

.footer-text,
.footer .logo-second {
    color: #f4f4fd;
}